<h2>Latest Posts</h2>

<!-- Данные из каждого поста -->
<% @results.each do |row| %>
	<h4>Post №<%= row['id'] %></h4> <!-- Выводим id поста -->
	<%= row['content'] %> <!-- Выводим сам пост -->
	<br><br>
	Added by <b><%= row['author'] %></b> at <%= row['created_date'] %> <!-- Выводим автора и дату поста -->
	<br><br>

	<!--                 Создаем ссылку и соотв URL адрес страницы для универсального обработчика -->
	<a href="/details/<%= row['id'] %>">Comments</a> <!-- id поста для адреса берем из id поста в БД и помещаем в URL адрес ссылки, теперь ее сможет обрабытывать метод get '/details/:post_id' где значение :post_id будет равно значению id которое мы присвоили из запроса БД -->
	<hr>
<% end %>
