<h2>Order list</h2>

<!-- таблица заказов -->
<table>
	<thead>
		<tr>
	    <th>Название</th><th>Фото</th><th>Размер</th><th>Цена</th><th>Количество</th><th>Итого</th>
  	</tr>
	</thead>

	<tbody>
		<% sum = 0 %>

  	<% @order_list.each do |pizza, count| %>
  		<tr>
  	    <td><%= pizza.title %></td>
  	    <td><img src="<%= pizza.path_to_image %>"></td>
  	    <td><%= pizza.size %></td>
  	    <td><%= pizza.price %></td>
  	    <td><%= count %></td>
  	    <td><%= pizza.price * count %></td>
  		</tr>
  		<% sum += pizza.price * count %>
  	<% end %>

  	<tr><td>Общая сумма: <%= sum %></td></tr>
	</tbody>
</table>


<h2>Подтвердите заказ</h2>
<!-- Форма подтверждения заказов -->
<div>
	<form action="/order" method="POST">
  	<label>Ваше имя</label>
  	<input name="client[name]" type="text" value="<%= @c.name %>">

  	<label>Ваш телефон</label>
  	<input name="client[phone]" type="text" value="<%= @c.phone %>">

  	<label>Ваш адрес</label>
  	<input name="client[address]" type="text" value="<%= @c.address %>">

		<!-- Скрытое поле с "product_1=4,product_2=7,product_3=4," -->
    <input name="client[products]" type="hidden" value="<%= @order_code %>">

	 	<button type="submit" class="btn btn-primary">Подтвердить</button>
	</form>
</div>
