<h1>New question</h1>

<!-- Рендерим нашу фрму из фаила _form.html.erb -->
<%= render 'form' %>
<!-- render - используем для того чтоб подставить на эту позицию какуюто разметку из паршала -->
<!-- 'form' - обозначает фаил _form.html.erb из которого будет взята разметка -->

<!-- По умолчанию берет фаил из текущей дериктории, но если хотим отрендерить из другой директории то пишем например  -->
<%= render 'pages/form' %>




<!--                                      Полный вариант -->

<% provide :page_title, t('.title') %>
<% currently_at t('menu.questions') %>

<h1 class="mb-4"><%= t('.title') %></h1>

<%= render 'form', tags: @tags %>
<!-- tags: @tags - добавляем локальную переменную tags с коллекцией тегов в паршал формы вопросов _form.html.erb для селектора -->

<!-- Для варианта с ajax (ManyToMany) уже не нужны @tags но добавим @question чтобы могли использовать докальную переменную -->
<%= render 'form', question: @question %>

















<!--  -->
