<!-- answer - в переменную автоматически присвоит каждый элемент коллекции -->
<article class="mb-3 card" id="answer-<%= answer.id %>">

  <div> <!-- Юзер которму принадлежит ответ и его аватар через граватар (OneToMany) -->
    <%= answer.user.gravatar size: 50, css_class: 'd-block' %>
    <%= answer.user.name_or_email %>
  </div>

  <div class="card-body">
    <section class="card-text">
      <small>
        <time datetime="<%= answer.formatted_created_at %>">
          <%= answer.formatted_created_at %>
        </time>
      </small>

      <div class="mt-2 mb-3">
        <%= sanitize answer.body %>
      </div>
    </section>

    <%= link_to 'Edit', edit_question_answer_path(question, answer), class: 'btn btn-info btn-sm' %>
    <!-- question ставим вместо @question (только для варианта 2а) - тк теперь приваиваем вопрос через локальную переменную обявленную в опциях рендера на show.html.erb -->
    <%= link_to 'Delete', question_answer_path(question, answer), class: 'btn btn-danger btn-sm',
      data: {method: :delete, confirm: "Are you sure?"} %>
  </div>
</article>
