<%= render 'shared/errors', object: @answer %>
<!-- Паршал в паршале: подключаем паршал ошибок прямо в паршал формы -->

<%= form_with model: [@question, @answer] do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', required: true %>
    <!-- required: true - доп валидация на стороне формы(поле не должно быть пустым) -->
  </div>

  <%= f.submit "Submit answer!", class: 'btn btn-primary' %>
<% end %>
