<%= render 'shared/errors', object: user %>

<%= form_with model: [:admin, user] do |f| %>
<!-- [:admin, user] - URL для адмиского маршрута этого юзера -->

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control form-control-lg' %>
  </div>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control form-control-lg' %>
  </div>

  <div> <!-- Селестор для выбора роли -->
    <%= f.label :role %>
    <%= f.select :role, user_roles, {}, class: 'form-select form-select-lg' %>
    <!-- user_roles - наш хэлпер для рендера имен и значений ролей в селектор -->
    <!--
      <option selected="selected" value="basic">Basic</option>
      <option value="moderator">Moderator</option>
      <option value="admin">Admin</option>
    -->
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control form-control-lg' %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control form-control-lg' %>
  </div>

  <% t_key = (user.new_record? ? "register" : "save") %> <!-- Оставим для будущей возможности создания новых юзеров админом по 1 -->
  <%= f.submit t(t_key, scope: 'users.global.forms'), class: 'btn btn-primary btn-lg' %>
<% end %>














<!--  -->
