<% provide :page_title, t('.title') %>
<% currently_at t('menu.questions') %>

<h1 class="mb-4"><%= t('.title') %></h1>

<section class="mb-5">
  <h2><%= t '.search_by_tags' %></h2>
  <%= form_with url: questions_path, method: :get do |f| %>
    <%= f.collection_select :tag_ids, (@tags || []), :id, :title, {selected: params[:tag_ids]},
      multiple: true, required: true, class: 'js-multiple-select', data: {'ajax-url': '/api/tags'} %>
    <%= f.submit t('global.button.submit'), class: 'btn btn-primary' %>
  <% end %>
</section>

<% if policy(:question).new? %>
  <!-- При нажатии данной кнопки мы вставим контент со страницы по адресу new_question_path в тело тега turbo_frame_tag с тем же айди, что тут в data -->
  <%= link_to t('.new'), new_question_path, class: 'btn btn-primary btn-lg mb-3', data: { turbo_frame: dom_id(Question.new) } %>
  <!-- new_question_path - тоесть все так же обращаемся к экшену new, чтобы он вернул new.html.erb в котором рендерится паршал _form.html.erb с нужной нам формой -->
  <!-- data: { turbo_frame: dom_id(Question.new) } - в data прописываем какой турбо-фрэйм-ткг нужно будет обновить, тоесть куда нужно будет вгрузить данные формы для вопроса из questions(turbo)/_form.html.erb -->
  <!-- dom_id(Question.new) - айди для того чтобы эта ссылка вставила контент в конкретный тег turbo_frame_tag с тем же айди, тут создадим айди "new_question" при помощи Question.new -->

  <%= turbo_frame_tag Question.new %> <!-- тоесть в данном месте мы выведем турбо фрэйм-тег -->
  <!-- turbo_frame_tag - хэлпер для создания тега турбофрэйма -->
  <!-- Question.new - при помощи нового объекта сгенерируем id для данного турбо фрэйма(тега), он генерируется при помощи метода dom_id который используется хэлпером turbo_frame_tag по умолчанию -->

  <!-- В итоге мы получим: -->
  <a class="btn btn-primary btn-lg mb-3" data-turbo-frame="new_question" href="/en/questions/new">New question</a>
  <!-- Турбофрэйм-тег до нажатия кнопки -->
  <turbo-frame id="new_question"></turbo-frame>
  <!-- Турбофрэйм-тег после нажатия кнопки, в который вставился контент из турбофрэйма в паршале questions(turbo)/_form.html.erb, вставилось только то что в теге турбофрэйма там, без кода из new.html.erb -->
  <turbo-frame id="new_question" src="http://localhost:5000/en/questions/new" complete="">
    <!-- src="http://localhost:5000/en/questions/new"  - адрес страницы с которой мы взяли форму. Тоесть данный турбофрэйм нашел на странице по этому адресу турбофрэйм с таким же айдишником и подставил сюда контент из него -->
    <form action="/en/questions" accept-charset="UTF-8" method="post">
      <!-- ... поля формы ... -->
    </form>
  </turbo-frame>
<% end %>

<%= turbo_frame_tag 'pagination_pagy' do %>
  <%= pagination @pagy %>

  <!-- Обрамим рендер вопросов в турбофрэйм со id='questions', чтобы помещать в него только что созданный вопрос без перезагрузки страницы -->
  <%= turbo_frame_tag 'questions' do %>
    <%= render @questions %>
  <% end %>

  <%= pagination @pagy %>
<% end %>
















<!-- -->
