<%= turbo_frame_tag question do %> <!-- Обернем вопрос в турбофрэйм тег -->
  <!-- question - для генерации айдишников будем использовать конкретные вопросы с разными айди, так что и айди турбофрэйм-ткгов будут уникальными -->
  <!-- Теперь в данном паршале дудет рендерится измененный вопрос из update.turbo_stream.erb или удаляться из destroy.turbo_stream.erb с же айди что и тут -->

  <article class="card my-3">
    <section class="card-header">
      <%= question.user.gravatar %>
      <%= question.user.name_or_email %>
    </section>

    <div class="card-body">
      <h4><%= link_to question.title, question_path(question), data: {turbo_frame: '_top'} %></h4>
      <!-- data: {turbo_frame: '_top'} - добавим чтобы ссылка работала и переходила на другую страницу show.html.erb вместо попытки обновления фрэйма -->

      <section class="card-text">
        <%= tag.time datetime: question.formatted_created_at do %>
          <small><%= question.formatted_created_at %></small>
        <% end %>
        <div class="my-2">
          <%= render question.tags %> <!-- тут рендарятся теги из tags/_tag.html.erb -->
        </div>
        <p class="my-2"><%= sanitize question.body %></p>
      </section>

      <% if policy(question).edit? %>
        <!-- Теперь эта кнопка подставит форму вместо перехода на страницу редактирования -->
        <%= link_to t('global.button.edit'), edit_question_path(question), class: 'btn btn-secondary' %>
        <!-- ?? Тут не меняем ссылку тк ссылка внутри турбофрэйма автоматически отправляет запрос в формате турбострима, и со страницы edit_question_path(question) возьмет турбофрэйм с айди турбофрэйма этого вопроса, тк запрос послан из него ?? -->
      <% end %>

      <% if policy(question).destroy? %>
        <%= link_to t('global.button.delete'), question_path(question), class: 'btn btn-danger',
          data: {turbo_method: :delete, turbo_confirm: t('global.dialog.you_sure')} %>
      <% end %>
    </div>
  </article>

<% end %>
















<!--  -->
