<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <!--                             Devise: Добавим ссылки входа и выхода -->

    <!-- Вариант 1: хардкод -->
    <p>
      <a href="/users/sign_in">Sign In</a> |
      <a href="/users/sign_out" data-turbo-method="delete">Sign Out</a>
    </p>
    <!-- data-turbo-method="delete" - Для sign_out возникнет ошибка при нажатии на ссылку, тк у маршрута /users/sign_out метод DELETE. В Rails 7 вместо data-method нужно использовать data-turbo-method -->

    <!-- Вариант 2: по методам-хэлперам для путей -->
    <!-- (можно посмотреть пути введя несуществующий URL)
      new_user_session_path	     GET	 /users/sign_in(.:format)	  devise/sessions#new
      user_session_path	         POST	 /users/sign_in(.:format)	  devise/sessions#create
      destroy_user_session_path	 GET	 /users/sign_out(.:format)	devise/sessions#destroy
    -->
    <p>
      <%= link_to "Sign In", new_user_session_path %> |
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    </p>
    <!-- Из комментов(! но у меня и без этого сработало):
      Вместо этого
      link_to 'Sign Out', destroy_user_session_path, method: :delete
      Пишем так
      link_to 'Sign Out', destroy_user_session_path, data: { 'turbo-method': :delete, 'turbo-confirm': 'Выйти? Вы уверены?' }
    -->

    <!-- Вариант 2-2: выведем почту пользователя если авторизированы, и уберём Sign Out ссылку, когда мы не авторизованы, при помощи обработчиков хэлперов.
    https://github.com/heartcombo/devise#controller-filters-and-helpers -->
    <% if user_signed_in? %>
      Hello, <%= current_user.email %> | <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
    <!-- user_signed_in? - хэлпер созданный Devise, возвращает true или false, в зависимости от того авторизован или нет данный пользователь -->
    <!-- current_user - хэлпер созданный Devise, возвращает объект текущего пользователя, соотв можно от него вызывать методы сущности(столбцы таблицы) -->


    <!-- Вариант 2-3: выведем имя пользователя, поле которого мы добавили в User и в форму devise/registrations/new.html.erb  вместо почты если авторизированы -->
    <% if user_signed_in? %>
      Hello, <%= current_user.username %> | <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>


    <!--                  Devise: Добавим для для флеш-сообщений(чтобы эта технология работала) -->

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>












<!--  -->
