<h1>List of articles</h1>

<!--                                       Вывод всех статей -->
<% @articles.each do |article| %>
  <h3><%= article.title %></h3>
  <p><%= article.text %></p>

  <!-- Можно писать и как в Синатре, но тогда получится хардкод: -->
  <a href="/articles/<%= article.id %>">Show article</a> | <a href="/articles/<%= article.id %>/edit">Edit article</a>

  <!-- https://guides.rubyonrails.org/routing.html#path-and-url-helpers  - _path методы -->

  <!--                   Ссылки на просмотр и редактирование статьи при помощи синтаксиса Rails -->
  <p><%= link_to "Show article", article_path(article) %></p>
  <!-- <a href="/articles/2">Show article</a> -->
  <!-- article_path(article) - параметром в метод передается сущность article, в итоге перейдет на /articles/id -->
  <p><%= link_to "Edit article", edit_article_path(article) %></p>
  <!-- <a href="/articles/2/edit">Edit article</a> -->
  <!-- edit_article_path(article) - в итоге перейдет на /articles/id/edit -->

  <!--                  Ссылка/кнопка на удаление статьи -->
  <p><%= button_to "Destroy", article_path(article), method: :delete, data: { confirm: 'Действительно удалить?'} %></p>
  <!-- ?? data: { turbo_method: "post" } ?? для link_to -->
  <!-- button_to - для кнопки удаления вместо ссылки удаления link_to, тк на Rails версии 7+ вероятен баг - не удаляется статья (из браузера). Это происходит из-за того, что в Rails 7 отключен UJS. -->
    <!-- Ссылка выглядит так(не добавляет форму): -->
      <a data-confirm="Действительно удалить?" rel="nofollow" data-method="delete" href="/articles/1">Destroy article</a>
    <!-- Кнопка выглядит так(добавляет форму): -->
      <form class="button_to" method="post" action="/articles/2">
        <input type="hidden" name="_method" value="delete" autocomplete="off" />
        <button data-confirm="Действительно удалить?" type="submit">Destroy article</button>
        <input type="hidden" name="authenticity_token" value="Y0qY_ENmVXJ7z4K_OYyKaiOg3gx8jhUYz2I_KbncWglxBV2UvuNZBx5WpukCF8JYVWwtOUkUvsnm8QdzGPLRsg" autocomplete="off" />
      </form>
  <!-- data: { confirm: 'Действительно удалить?'} - необязательный элемент c окном подтверждения(!!! почему-то не работает) -->

  <!-- data-method="delete" - кастомный атрибут Рэилс
    data-some_name атрибуты нужны для того чтобы мы могли создать собственные атрибуты(some_name - на выбор). html-валидатор будет знать что это кастомный атрибут, браузер их не обрабатыает
    Файл turbolinks через скрипт обрабатывает атрибуты data-* встречающиеся в коде html
    Работа атрибута data-method="delete":
      1. скрипт сканирует страницу и ищет атрибут data-method="delete"
      2. если находит - создаёт форму, которая будет отправлять с помощью метода delete на URL /articles/id через POST
      3. устанавливает свой обработчик, при котором при нажатии на ссылку вызывается сабмит формы. Запрос отправляется с помощью технологии ajax
  -->


  <!--                    User 1 - * Article. Возможность удалить и редактировать только автору -->

  <p><%= link_to "Show article", article_path(article) %></p>

  <!-- Скроем возможности редактирования и удаления от всех кроме автора статьи -->
  <!-- 1. Мой вариант изначальный с обращением к столбцам -->
  <% if current_user.id == article.user_id %>
  <!-- 2. Вариант из примера - сравнивает сущности активного юзера и юзера к которому привязана статья  -->
  <% if current_user == article.user %> <!-- В примере это делали через написание хэлпера -->
    <!-- article.user - видимо тут user берет поле с user_id автоматически, как было с comments только наоборот, и возвращает по нему сущность юзера -->
    <p><%= link_to "Edit article", edit_article_path(article) %></p>
    <p><%= button_to "Destroy", article_path(article), method: :delete, data: { confirm: 'Действительно удалить?'} %></p>
  <% end %>

  <hr>
<% end %>







<!--  -->
