<% provide :page_title, t('.title') %>
<% currently_at t('menu.log_in') %>

<h1 class="mb-4"><%= t('.title') %></h1>

<%= render 'shared/errors', object: @user %> <!-- Обычный вывод ошибок для невалидного пароля -->

<%= form_with model: @user, url: password_reset_path, method: :patch do |f| %>
<!-- Тут не смотря на прописывание модели, прописываем URL и метод отдельно, тк если указать только модель, то эта форма будет отправлена на обработку в user-контроллер, но нам нужен контроллер сброса пароля, потому и нужно указать URL и метод, чтоб отправилось на его экшен update -->

  <!-- Скрытые поля с токеном и имэйлом, для которых мы делаем сброс, это обязательно, тк метод контроллера set_user и перед экшеном update вызывает метод проверки токена из консерна, а иначе злоумышленник сможет подделать запрос update и поменять пароль любой учетной записи -->
  <%= f.hidden_field :password_reset_token, value: @user.password_reset_token %>
  <%= f.hidden_field :email, value: @user.email %>

  <div> <!-- Поле для нового пароля -->
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control form-control-lg' %>
  </div>

  <div> <!-- Поле для подтверждения нового пароля -->
    <%= f.label :password_confirmation, for: 'user[password_confirmation]' %>
    <%= f.password_field :password_confirmation, class: 'form-control form-control-lg' %>
  </div>

  <%= f.submit t('.form.submit'), class: 'btn btn-primary btn-lg' %>
<% end %>












<!--  -->
