<!--                      Лэйаут для демонстрации хэлперов для меню и второстепенных yield -->

<!--  (helper) - в названии фаила просто для отличия, чтоб сделать не захламленную копию лэйаут -->

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">

    <!--                      Хэлпер для названия вкладки с названием страницы -->

    <!-- Интегрируем в тайтл значение возвращаемое хэлпером, с названием и сайта и конкретной страницы -->
    <title><%= full_title(yield(:page_title)) %></title>
    <!-- full_title - название/оператор нашего хэлпера -->
    <!-- yield(:page_title) - дополнительный, не главный yield, с условием(content_for) который принимает только из provide с тем же параметром -->
    <!-- :page_title - content_for/название(можно любое)для конкретного yield -->
    <!-- Теперь из вида(например questions/index.html.erb), что подставлен в данный момент уже в главный yield из provide :page_title передастся в этот yield значение, определив его по имени :page_title и далее значение отправляется в хэлпер, обрабатывается и подставляется в название вкладки(тут 'Questions | AskIt') -->


    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all' %> <!-- media: 'all' - добавлнено вручную -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-lang="<%= I18n.locale %>"> <!-- I18n.locale - дополнительно подключим переводы в боди для турбоссылок, тк при переходе по страницам от них отрисовывается только тег боди без тега html -->

    <!-- Принимает блок с меню из provide :main_menu паршала _menu.html.erb с отрендериным в хэлпере currently_at кодом -->
    <%= yield :main_menu %>


    <main class="container mt-3">
      <% flash.each do |k, v| %>
        <%= tag.div v, class: "alert alert-#{k}", role: 'alert' %>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>














<!--   -->
