<!--                                     Вариант вывода из БД 1.
Который я сам сделал как ДЗ к уроку 26. -->
<!-- Создаем таблицу и интегрируем в нее переменные с тегами для столбцов и данными из бд в них -->
<table border="1" width="1100px" style="font-size: 2rem;">
  <caption>Записавшиеся:</caption>
  <thead><tr><%= @columns %></tr></thead>
  <tbody><%= @users %></tbody>
</table>


<!--                                     Вариант вывода из БД 2.
Более чистый способ где все манипуляции с html в фаиле erb -->

<%= @results %> <!-- пример вывода объекта запроса(при выводе всего объекта в html к массиву хэшей применяется метод .to_s похоже) -->

<!-- Мб не лучшее решение тк длинные(больше 7 ?) хэши не гарантируют порядок -->
<table border="1" width="1100px" style="font-size: 2rem;">
  <caption>Таблица 1:  Все колонки</caption>
  <thead>
    <tr><%= '<th>' + @results[0].keys.join('</th><th>') + '</th>' %></tr>
  </thead>
  <tbody>
    <!-- тк это итератор то любой код внутри будет выполняться столько раз сколько будет итераций те равно числу строк запроса -->
    <% @results.each.with_index do |row, i| %>
    	<tr <%= i.even? ? 'style="color: red"' : 'style="color: blue"'%>> <!-- стили для строк в зависимости от индекса(не забываем брать и атрибут целиком в кавычки) -->
        <td><%= row.values[0..-2].join('</td><td>') %></td>
        <td style="background: <%= row['color'] %>;"><%= row['color'] %></td> <!-- используем цвет-хэш для бэкграунда -->
      </tr>
    <% end %>
  <tbody>
</table>

<br>

<table border="1" width="1100px" style="font-size: 2rem;">
  <caption>Таблица 2:  Выбираем некоторые необходимые нам колонки</caption>
  <thead>
    <tr><th>username</th><th>barber</th></tr>
  </thead>
  <tbody>
    <% @results.each do |row| %>
    	<tr><td><%= row['username'] %></td><td><%= row['barber'] %></td></tr>
    <% end %>
  </tbody>
</table>
