<h2>Список записавшихся</h2>

<table border="1" cellpadding="10" cellpadding="0">
  <tr>
    <th>Name</th><th>Phone</th><th>Date</th><th>Color</th>
  </tr>

  <% @clients.each do |client| %>
    <tr>
      <td><a href="/clients/<%= client.id %>"><%= client.name %></a></td> <!-- Создаем в таблице ссылку на обработчик каждого клиента -->
      <td><%= client.phone %></td>
      <td><%= client.datestamp %></td>
      <td><%= client.color %></td>
    </tr>
  <% end %>
</table>
