<% provide :page_title, 'Admin Users' %>
<% currently_at 'Users' %>

<h1 class="mb-4">Admin Users</h1>


<!-- Ссылка/Кнопка для работы с форматом zip. Выгрузит для пользователя(админа) данные(XLSX) в формате архива(zip) -->
<%= link_to 'Download zipped XLSX', admin_users_path(format: :zip),
  class: 'btn btn-secondary', data: {confirm: t('global.dialog.you_sure')} %>
<!-- admin_users_path(format: :zip) - добавляем в хэлпер URL параметр format: :zip, это значит что к URL допишется .zip -->
<!-- data: {confirm: t('global.dialog.you_sure')} - подтверждение нажатия кнопки -->


<!-- Форма для загрузки фаила(zip архива) -->
<h2 class="mb-3">Upload users from XLSX</h2>
<%= form_with url: admin_users_path do |f| %> <!-- POST 'admin/users' те экшен admin/users#create -->
  <div>
    <%= f.label :archive, 'Select archive' %>
    <%= f.file_field :archive, class: 'form-control' %>
    <!-- file_field - хэлпер генерирует поле для загрузки фаила -->
  </div>
  <%= f.submit 'Upload!', class: 'btn btn-primary' %>
<% end %>


<%= pagination @pagy %>

<!-- Вариант 1: базовый -->
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th><th>Name</th><th>Email</th><th>Created at</th><th>Updated at</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %> <!-- инфу о каждом юзере рендерим из паршала _user.html.erb -->
  </tbody>
</table>


<!-- Вариант 2: с ролью и переводами (UsersRoles) -->
<% scope = 'activerecord.attributes.user' %> <!-- переменная для того чтобы не дублировать путь к переводу -->

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'name', scope: scope %></th> <!-- scope: scope - берем переменную и добавляем к ней '.name' -->
      <th><%= t 'email', scope: scope %></th>
      <th><%= t 'role', scope: scope %></th> <!-- название колонки для роли -->
      <th><%= t 'created_at', scope: scope %></th>
      <th></th> <!-- колонка для кнопок удаления и редактирования можно не назвапть никак -->
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>

<%= pagination @pagy %>












<!--  -->
