<%= turbo_frame_tag answer do %>

  <%= tag.article class: 'my-3 card border-0 border-top' do %> <!-- id: dom_id(answer) - тут нам больше не нужен, тк будет использоваться айди турбофрэйм тега -->
    <div>
      <%= answer.user.gravatar size: 50, css_class: 'd-block' %>
      <%= answer.user.name_or_email %>
    </div>
    <div class="card-body">
      <section class="card-text mb-3">
        <time datetime="<%= answer.formatted_created_at %>">
          <%= answer.formatted_created_at %>
        </time>
        <%= sanitize answer.body %>
      </section>

      <% if policy(answer).edit? %>
        <!-- теперь эта кнопка посылает запрос в формате турбо-стрима на edit и возвращает форму из турбострима -->
        <%= link_to t('global.button.edit'), edit_question_answer_path(question, answer), class: 'btn btn-info btn-sm' %>
      <% end %>

      <% if policy(answer).destroy? %>
        <%= link_to t('global.button.delete'), question_answer_path(question, answer), class: 'btn btn-danger btn-sm',
          data: {turbo_method: :delete, turbo_confirm: t('global.dialog.you_sure')} %>
      <% end %>
    </div>
  <% end %>

  <!-- динамическое создание и удаление комментариев (удаляем html_id: dom_id) -->
  <%= render 'comments/commentable', commentable: answer, comment: @comment#, html_id: dom_id(answer, 'comment_form') %>

<% end %>
















<!--  -->
