<h1>Contact us</h1>
<!-- ===================== i18n ======================== -->
<h2><%= t('contacts.contact_us') %></h2>
<!-- contacts             - имя раздела в en.yml -->
<!-- contact_us           - имя подраздела -->
<!-- <h2>Contact Us!</h2> - значение строки -->
<!-- =================================================== -->

<%= form_for :contact, url: contacts_path, data: { turbo:false } do |f| %>

	<!-- Вывод списка ошибок Вариант 1 -->
	<%= @contact.errors.full_messages %>

	<!-- Вывод списка ошибок Вариант 2: в виде списка с проверкой на существование -->
	<% if @contact && @contact.errors.any? %>
	  <ul>
	    <% @contact.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	  </ul>
	<% end %>

	<!-- Вывод списка ошибок Вариант 3: с использованием паршала -->
	<%= render 'shared/errors', object: @contact %>
	<!-- 'shared/errors' - название вместе с директорией, тк это директория не относящаяся к контроллеру сущности @contact -->
	<!-- object: @contact - передаем значение сущности в локальную переменную object, которую используем в паршале, чтоб применить его к конкретной сущности, что нам нужна -->

	<p>
	  <%= f.label :email %>
	  <%= f.text_field :email %>
	</p>

	<p>
	  <%= f.label :message %>
	  <%= f.text_area :message %>
	</p>

	<p>
	  <%= f.submit %>
	</p>

<% end %>










<!--  -->
