<% provide :page_title, 'Log In' %>
<% currently_at 'Log In' %>

<h1 class="mb-4">Log In</h1>

<!-- в паршал выносить не будем тк эта форма используется только тут -->

<%= form_with url: session_path do |f| %>
<!-- url: session_path  - используем URL так как никакой таблицы модели и соотв объекта у нас нет, соответсвенно и значения атрибутов name будут простыми а не хэшем -->

  <!-- Будем делать аутотентификацию пользователя при помощи имэйла и пароля -->
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :email %>
    </div>

    <div class="col-sm-10">
      <%= f.email_field :email, placeholder: 'E-mail', class: 'form-control form-control-lg' %>
      <!-- <input placeholder="E-mail" class="form-control form-control-lg" type="email" name="email" id="email" /> -->
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :password %>
    </div>

    <div class="col-sm-10">
      <%= f.password_field :password, class: 'form-control form-control-lg' %>
      <!-- <input class="form-control form-control-lg" type="password" name="password" id="password" /> -->
    </div>
  </div>

  <%= f.submit "Sign In!", class: 'btn btn-primary btn-lg' %>
<% end %>














<!--  -->
