<h1>New article</h1>

<!--                                              form_for -->

<!-- Форм билдеры Рэилс для формы не обязательны и возможно использовать HTML-теги форм и полей напрямую -->

<!-- 1. form_for :article, url:  (не нужна пустая сущьность) -->
<%= form_for :article, url: articles_path, data: { turbo: false } do |f| %> <!-- Тут именно с %= -->
  <!-- f - в переменную блока передается объект формбилдер -->

  <!-- form_for - стандартный форм билдер(хэлпер), создает форму, используется не так часто тк есть другие форм билдеры -->
  <!-- :article - параметр(? для генерации значения атрибута name ?) в единственном числе, тк форма отправляет данные об одной сущности -->
    <!-- В итоге будет создана такая форма со скрытым полем в ней, которое сгенерено Рэилс, оно содежит специальный зашифрованный токен и когда от этой формы приходит запрос, то Рэилс проверяет, что этот тот же самый токен, что и был создан при рендере формы (нужно для безопасности приложения). Возможно в новых версиях Рэилс эта защита будет убрана, тк браузеры сами теперь делают что-то похожее -->
    <form action="/articles/new" accept-charset="UTF-8" method="post">
      <input type="hidden" name="authenticity_token" value="DGyL-HHUE0zhYRgsnOmkAZGbJQ" autocomplete="off" />
      <!--  ... Другие поля формы ... -->
    </form>
  <!-- url: articles_path - передаем хлпер для URL '/articles' (можно и захардкодить, передав строку '/articles' вместо хэлпера). Добавляем хэлпер пути, тоесть меняем путь, тк по умолчанию у form_for :article стоит URL GET "/articles/new" и при нажатии кнопки произойдет ошибка(тк по данному URL существует только GET-обработчик в экшене new). Для POST используется экшен create c URL '/articles', соответственно надо перенаправить форму на него. Теперь если посмотреть код то адрес в теге формы изменился: -->
    <form action="/articles" accept-charset="UTF-8" method="post">
      <!--  ... Поля формы ... -->
    </form>
  <!-- data: { turbo:false } - зададим дополнительный дата-аттрибут, только в том случае если в приложении используется Turbo, иначе форма не отправится/обработается корректно. В теге формы появится новый атрибут. В Рэилс 7 с Турбо форма отправляется не браузером по нажатию кнопки, а в момент нажатия перехватывается turbo.js и потом отправляется им уже как XHR-запрос (XMLHttpRequest) -->
    <form data-turbo="false" action="/articles" accept-charset="UTF-8" method="post">
      <!--  ... Поля формы ... -->
    </form>
  <!-- url: '/articles', data: { turbo:false }  - это и все дополнительное это хэш -->


  <!--                                      Поля формы в Рэилс -->

  <!-- https://guides.rubyonrails.org/form_helpers.html -->

  <p>
    <%= f.label :title %> <!-- это будет: --> <label for="article_title">Title</label>
    <!-- label - хэлпер тега label -->
    <!-- title - название столбца в таблице/модели для создания for -->
    <%= f.text_field :title %> <!-- будет: --> <input type="text" name="article[title]" id="article_title" />
    <!-- title - название столбца в таблице/модели для создания name и id -->
  </p>

  <p>
    <%= f.label :text, 'Message' %> <!-- Поменять текст лэйбла -->
    <!-- будет: --> <label for="article_text">Message</label>
    <%= f.text_area :text %>
    <!-- будет: --> <textarea name="article[text]" id="article_text"></textarea>
  </p>

  <!-- ===== Devise User 1 - * Article. Возможность удалить и редактировать только автору ===== -->
  <p>
    <%= current_user.username %> <!-- вместо лэйбла -->
    <%= f.hidden_field :user_id, value: current_user.id %>
    <!-- это будет: -->
    <input value="2" autocomplete="off" type="hidden" name="article[user_id]" id="article_user_id" />
  </p>
  <!-- ================================================================================= -->

  <!-- Пример реализации селектора https://stackovergo.com/ru/q/6043668/how-to-add-a-class-to-selecttag-in-ruby-on-rails -->
  <%= f.label :commentable_type, class: 'form-label' %>
  <%= f.select :commentable_type, ["Post", "Image"], {}, class: 'form-select' %>
  <!-- Между значениями опций селектора и параметрами класса нужен пустой хэш -->


  <p><%= f.submit %></p>
  <!-- будет: --> <input type="submit" name="commit" value="Save Article" data-disable-with="Save Article" />

  <!-- Поменять название кнопки отправки формы можно при помощи передачи параметра в виде строки: -->
  <%= f.submit 'Send message' %>
  <!-- будет: --> <input type="submit" name="commit" value="Send message" data-disable-with="Save Article" />


<% end %>



<!-- 2. form_for @entity (нужна пустая сущьность) -->
<%= form_for @article, url: articles_path, data: { turbo: false } do |f| %>
  <!-- ... -->

  <!-- submit_tag - ? устаревший вариант ? -->
  <%= f.submit_tag 'Send message' %>
<% end %>










<!--  -->
