<h1>Contact us</h1>
<!-- ===================== i18n ======================== -->
<h2><%= t('contacts.contact_us') %></h2>
<!-- contacts - имя раздела в en.yml -->
<!-- contact_us - имя подраздела -->
<!-- <h2>Contact Us!</h2> -->
<!-- =================================================== -->

<%= form_for :contact, url: contacts_path, data: {turbo:false} do |f| %>

	<p><%= @contact.errors.full_messages %></p> <!-- Вывод списка ошибок Вариант 1 -->

	<% if @contact && @contact.errors.any? %> <!-- Вывод списка ошибок Вариант 2 -->
  	<p><%= @contact.errors.full_messages %></p>
	<% end %>

	<% if @contact && @contact.errors.any? %> <!-- Вывод списка ошибок Вариант 2 в виде списка -->
	  <ul>
	    <% @contact.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	  </ul>
	<% end %>

	<p>
	  <%= f.label :email %>
	  <%= f.text_field :email %>
	</p>

	<p>
	  <%= f.label :message, 'Message' %> <!-- Поменять текст лэйбла -->
	  <%= f.text_area :message %>
	</p>

	<p>
	  <%= f.submit 'Send message' %>
    <!-- Поменять название кнопки отправки формы можно при помощи передачи параметра в виде строки -->
	</p>

<% end %>
